.btn {
  text-align: center;
  margin-bottom: 35px;

  a {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }

  &--solid {
    a {
      border: 4px solid $c-black;
      background-color: $c-black;
      color: $c-white;
    }
  }

  &--ghost {
    a {
      border: 4px solid $c-black;
      color: $c-black;
    }
  }
}
