.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    h3 {
      text-align: center;
      a {
        font-size: 25px;
        text-decoration: none;
        color: $c-black;
      }
    }
  }

  &__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    color: green;
    font-weight: 700;
  }
}
