.grid {
  text-align: center;

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .card {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 20px;

    @media only screen and (max-width: $bp-desktop) {
      width: 48%;
    }

    @media only screen and (max-width: $bp-mobile) {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
