.product {
  &__gallery {
    &--item {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  &__tags {
    &--body {
      .label {
        display: inline-block;
        background-color: #eaeaea;
        padding: 5px 10px;
        font-weight: 700;
        margin-right: 10px;
        border-radius: 5px;
      }
    }
  }

  .add-to-cart {
    input {
      height: 40px;
      margin-right: 20px;
    }

    button {
      background-color: $c-black;
      color: $c-white;
      font-size: 16px;
      border: none;
      height: 40px;
      padding-right: 15px;
      padding-left: 15px;
      border-radius: 5px;
    }

    button[disabled],
    button:disabled {
      opacity: 0.6;
    }
  }

  .cart__notice {
    color: red;
    margin-top: 10px;
  }

  &__specs {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      > li {
        overflow: hidden;
        width: calc(50% - 10px);
        margin-bottom: 10px;
        border: 1px solid $c-black;
        display: inline-block;
        margin: 0 5px 10px;

        .name {
          width: 100%;
          font-weight: 700;
          padding: 10px 20px;
        }

        .value {
          background-color: #eaeaea;
          width: 100%;
          padding: 10px 20px;
        }
      }
    }
  }
}
